//.Frame-content .HomepageTitle {
//    display:none;
//}

div.Frame-top > div.bannerImgReplacer {
    display:none;
}

//in case the hero plugin is deactivated
.Frame-top  .HomepageTitle {
    margin-top:10px;
}


.MyHero {
    width: 100%;
    height: 300px;
    background-color: grey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 100px;
        color:whitesmoke;
    }
}


.BannerSearchBox {
    flex-basis: 50%;
}

.BannerSearchBox > form > div {
    display:flex;

    #Form_Search {
        border: 1px solid whitesmoke;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-right: none;
        flex-grow: 4;
    }

    #Form_Go {
        position:relative;
        border: 1px solid whitesmoke;
        color:white;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-left: none;
        width:60px;

        &:hover {
            background: #F5286C;
        }
    }
}



